<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Change password</h2>
    </div>
    <div class="col-12">
      <form [formGroup]="form" (ngSubmit)="chanegPassword()">
        <label class="input">
          <input formControlName="currentPassword" type="password" class="input__field" placeholder=" " />
          <span class="input__label">Current passowrd<sup>*</sup> </span>
        </label>
        <label class="input">
          <input formControlName="newPassword" type="password" class="input__field" maxlength="16" placeholder=" " />
          <span class="input__label">New passowrd<sup>*</sup> </span>
        </label>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
