<nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-lg" *ngIf="!isMobileApp">
  <div class="container">
    <a class="navbar-brand" href="javascript:;" title="Propertyspaces"><img src="assets/img/logo.svg" title="Lidarama"
        class="img-fluid" /></a>

    <button (click)="isMenuCollapsed = !isMenuCollapsed" class="navbar-toggler">
      <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto text-uppercase">
        <li class="nav-item">
          <a class="nav-link" routerLink="/account">My Account</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-danger" (click)="logout()">Log out</button>
        </li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </div>
</nav>
<main class="container d-flex flex-column align-items-center justify-content-center">
  <div class="row col-12">
    <div class="col">
      <h1 class="text-center my-5">Create panoramic walkthough</h1>
      <div class="card shadow mb-4">
        <div *ngIf="!isMobileApp"
          class="card-header text-right d-md-flex justify-content-md-center align-items-md-center py-3">
          <div class="row">
            <div
              class="col d-sm-flex d-md-flex d-lg-flex d-xl-flex align-items-sm-center align-items-md-center align-items-lg-center justify-content-xl-end align-items-xl-center">
              <button class="btn btn-primary mx-3" type="button" (click)="openCreateForm()">
                <i class="fa fa-plus"></i>Create New Project
              </button>
              <button class="btn btn-danger" type="button" *ngIf="projectIds.length" (click)="deleteProjects()">
                Delete
              </button>
            </div>
          </div>
        </div>

        <div class="card-body">
          <h4 class="text-center">Project Panoramas</h4>

          <div *ngIf="isAdmin">
            <h3>Filter by user</h3>
            <select class="custom-select" (change)="filterByUser($event)">
              <option value="" selected>---Select user---</option>
              <option *ngFor="let user of users$ | async" [value]="user.id">{{user.email}}</option>
            </select>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th *ngIf="!isMobileApp">#</th>
                <th scope="col">Name</th>
                <th>Status</th>
                <th>Created at</th>
                <th>Address</th>
                <th class="text-right" scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of projects$ | async">
                <td *ngIf="!isMobileApp">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" [value]="project.id"
                      [id]="'flexCheckChecked_' + project.id" (change)="onCheckChange($event)" />
                    <label class="form-check-label" [for]="'flexCheckChecked_' + project.id"></label>
                  </div>
                </td>
                <th scope="row">
                  <a [routerLink]="[project.id]">{{ project.name }}</a>
                </th>
                <td>
                  <button type="button" class="btn" [class.btn-primary]="!project.active"
                    [class.btn-dark]="!!project.active" (click)="changeStatus(project)">
                    {{ project.active ? 'deactivate' : 'activate' }}
                  </button>
                </td>
                <td>{{project.createdAt | date: 'medium'}}</td>
                <td>
                  {{ project.addr?.address }}
                </td>
                <td class="text-right">
                  <div class="btn-group">
                    <button *ngIf="isAdmin || !isMobileApp" (click)="deleteProjects(project.id)" type="button"
                      class="btn btn-danger">
                      <i class="fa fa-2x fa-trash"></i>
                    </button>
                    <a [routerLink]="[project.id]" class="btn btn-primary">
                      <i class="fa fa-2x fa-chevron-right"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
