<nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-lg" *ngIf="!isMobileApp">
  <div class="container">
    <a class="navbar-brand" href="javascript:;" title="Propertyspaces"><img src="assets/img/logo.svg" title="Lidarama"
        class="img-fluid" /></a>

    <button (click)="isMenuCollapsed = !isMenuCollapsed" class="navbar-toggler">
      <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto text-uppercase">
        <li class="nav-item">
          <a class="nav-link" routerLink="/account">My Account</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-danger" (click)="logout()">Log out</button>
        </li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid py-5 bg-white">
  <div class="text-center py-5">
    <h1 class="text-uppercase">Create panoramic walkthough</h1>
    <button type="button" class="btn btn-danger rounded-pill px-5">
      <span class="mr-2">Help Video</span> <img src="assets/img/icons/play.svg" alt="Play Video">
    </button>
  </div>
</div>
<main class="container d-flex flex-column align-items-center justify-content-center">
  <div class="row col-12">
    <div class="col">
      <h4 class="h1 my-5 text-center text-uppercase">Project Panoramas</h4>
      <div class="card shadow border-0 mb-4 mx-0">

        <div class="card-body p-0">

          <div class="p-4" *ngIf="isAdmin">
            <h3>Filter by user</h3>
            <select class="custom-select" (change)="filterByUser($event)">
              <option value="" selected>---Select user---</option>
              <option *ngFor="let user of users$ | async" [value]="user.id">{{user.email}}</option>
            </select>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th *ngIf="!isMobileApp">#</th>
                <th scope="col">Name</th>
                <th>Status</th>
                <th>Created at</th>
                <th>Address</th>
                <th class="text-right" scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of projects$ | async">
                <td *ngIf="!isMobileApp">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" [value]="project.id"
                      [id]="'flexCheckChecked_' + project.id" (change)="onCheckChange($event)" />
                    <label class="form-check-label" [for]="'flexCheckChecked_' + project.id"></label>
                  </div>
                </td>
                <th scope="row">
                  <a [routerLink]="[project.id]">{{ project.name }}</a>
                </th>
                <td>
                  <button type="button" class="btn" [class.btn-primary]="!project.active"
                    [class.btn-dark]="!!project.active" (click)="changeStatus(project)">
                    {{ project.active ? 'deactivate' : 'activate' }}
                  </button>
                </td>
                <td>{{project.createdAt | date: 'medium'}}</td>
                <td>
                  {{ project.addr?.address }}
                </td>
                <td class="text-right">
                  <div class="btn-group">
                    <button *ngIf="isAdmin || !isMobileApp" (click)="deleteProjects(project.id)" type="button"
                      class="btn">
                      <img src="assets/img/icons/trash-red-alt.svg" alt="Delete project">
                    </button>
                    <a [routerLink]="[project.id]" class="btn">
                      <img src="assets/img/icons/arrow.svg" alt="Open the project">
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
