/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'assets/scss/custom-bootstrap';
@import '~font-awesome/scss/font-awesome';

@import '~subjx/dist/style/subjx.css';
@import '~ng-snotify/styles/material';
@import '~@angular/cdk/overlay-prebuilt.css';

@import 'assets/scss/gallery-msnr';
@import 'assets/scss/range-slider';

@import 'assets/scss/bootstrap-mat-input';
@import 'assets/scss/hamburger-button';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.table {
  th,
  td {
    vertical-align: middle;
  }
}

.rectangle {
  position: relative;
  top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 150px;
  background-color: #fd4140;
  border: solid 1px #121621;
  color: #121621;
  margin: auto;
}

mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}

.resize-handle-top,
.resize-handle-bottom {
  position: absolute;
  height: 5px;
  cursor: row-resize;
  width: 100%;
}

.resize-handle-top {
  top: 0;
}

.resize-handle-bottom {
  bottom: 0;
}

.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  cursor: col-resize;
  width: 5px;
}

.ng-draggable {
  cursor: grab;
}

.ng-dragging {
  cursor: grabbing;
}

// @import 'assets/scss/resizable.scss';

.fullscreen-modal {
  .modal-dialog {
    max-width: none;
    margin: 0;
    width: 100%;
    height: 100vh;
  }
  .modal-content {
    min-height: 100%;
  }
}

.sidebar-card {
  border: 0;
  .card-header {
    padding: 0 0.75rem;
  }
}

.accordion > .card > .card-header {
  transition: 0.3s ease-in;
  margin-bottom: 0;
  border-bottom-width: 3px;
}
.sidebar-accordion > .sidebar-card.active > .card-header,
.sidebar-accordion.accordion > .card > .card-header:hover {
  .btn {
    color: #fff;
  }
  .sidebar-header-icon-fill svg path {
    fill: #fff !important;
  }
  .sidebar-header-icon-stroke svg path {
    stroke: #fff !important;
  }
}

.sidebar-card.active > .card-header,
.sidebar-card:hover > .card-header {
  background: #231f20;
  color: #fff;
}

.sidebar-card > .collapse {
  overflow: auto;
}

.inner-accordion {
  .card {
    border: 0;
  }
  .card-header {
    padding: 0;
  }
}

.inner-accordion .card-header > .btn-link {
  display: block;
  width: 100%;
  color: #231f20;
}

.inner-accordion .card.active .card-header {
  background: #a1332a;
  .btn-link {
    color: #fff;
  }
}

.pac-container {
  z-index: 9999;
}

.cdk-overlay-container {
  z-index: 1051;
}

ngx-masonry {
  margin: 0 auto;
  .masonry-item {
    width: 200px;
    margin-bottom: 0;
  }
}

.sidebar-card .card-body {
  padding: 0;
}

lightbox {
  width: 100vw !important;
  height: 100vh !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 9999 !important;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-drop-list.cdk-drop-list-dragging
  .drag-drop-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dndPlaceholder {
  min-height: 72px;
  border: 1px dashed green;
  background-color: rgba(0, 0, 0, 0.1);
}

.dndList {
  transition: all 300ms ease;

  &.dndDragover {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.dndDragging {
  border: 1px solid green;
}

.dndDraggingSource {
  display: none;
}

.dndPlaceholder {
  min-height: 72px;
  border: 1px dashed green;
  background-color: rgba(0, 0, 0, 0.1);
}

.tooltop-p-0 {
  top: 20px !important;
  &.show {
    opacity: 1;
  }
  .tooltip-inner {
    padding: 0;
    transform: translate(-26px, 0px);
  }
  .arrow {
    left: calc(60% - 0.4rem) !important;
  }
  .arrow::before {
    border-bottom-color: #fff;
    border-width: 0 16px 16px;
  }
  label.btn {
    font-size: 15px;
  }
}

.edit-menu {
  .btn:focus,
  .btn.focus {
    border: 0;
    outline: 0;
    box-shadow: none;
  }
  .btn {
    color: $body-color;
    border: 0;
    background-color: rgba(0, 0, 0, 0.03);
    &.active {
      background-color: $danger;
      color: $white;
    }
  }
}

.scrollbar-danger {
  .ng-scrollbar-wrapper > scrollbar-y.scrollbar-control {
    background: #fff;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
  }
  .ng-scrollbar-wrapper > scrollbar-y.scrollbar-control > .ng-scrollbar-track {
    width: 10px;
    border-radius: 10px;
    z-index: auto;
    .ng-scrollbar-thumb {
      background-color: $danger;
    }
  }
  &.content-padding {
    .ng-scroll-content {
      padding: 0 10px;
    }
  }
}

.contact-accordion.accordion > .card {
  .card-header {
    border-radius: 10px;
  }
  .contact-accordion-title {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .sidebar-card {
    .card-header {
      padding: 0.75rem 1.25rem;
    }
  }
}

.nav-tabs {
  .nav-link {
    color: $gray-600;
  }
  .nav-link.active {
    background: transparent;
    color: $black;
    border-color: $danger $danger $danger;
  }
}
