<div class="modal-header bg-danger">
  <h5 class="modal-title text-white">Gallery</h5>
  <button
    type="button"
    (click)="activeModal.close()"
    class="close"
    data-bs-dismiss="modal"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form #form class="modal-body">
  <div class="container-fluid">
    <input type="hidden" name="project_id" [value]="project_id" />
    <input
      type="file"
      name="files"
      id="photo"
      hidden
      (change)="uploadImage($event)"
    />
    <label class="btn btn-primary" for="photo">Upload Image</label>

    <ngx-masonry
      [options]="masonryOptions"
      [ordered]="true"
      *ngIf="gallery$ | async as images"
      gallerize
      selector=".gallery-img"
    >
      <div ngxMasonryItem *ngFor="let img of images" class="masonry-item">
        <i class="fa fa-trash-o" (click)="removeImage(img.name)"></i>
        <img
          class="img-fluid gallery-img"
          [src]="img.url"
          [attr.imageSrc]="img.url"
          [attr.thumbSrc]="img.thumb"
          [alt]="img.name"
        />
      </div>
    </ngx-masonry>

    <!-- <div
      class="row"
      *ngIf="gallery$ | async as images"
      gallerize
      selector=".gallery-img"
    >
      <div *ngFor="let img of images" class="col-3"></div>
    </div> -->
  </div>
</form>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    (click)="activeModal.close(false)"
  >
    Close
  </button>
  <button type="button" class="btn btn-primary" (click)="submit(form)">
    Save changes
  </button>
</div>
