<div class="modal-header">
  <h5 class="modal-title">{{ title }}</h5>
  <button type="button" (click)="activeModal.close()" class="close" data-bs-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div *ngIf="!isEdit">

    <div class="row">
      <div class="col text-center">
        <button class="btn btn-primary" type="button" (click)="fileInput.click()"><i class="fa fa-upload"></i> Upload Panorama</button>
        <input hidden type="file" accept="images/*" multiple #fileInput (change)="uploadImage($event)">
        <i *ngIf="loading" class="fa fa-spin fa-spinner d-xl-flex justify-content-xl-center"></i>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
          <ul class="list-group">
              <li *ngFor="let c of form.controls.panoramas?.controls" class="list-group-item d-sm-flex d-xl-flex justify-content-sm-center justify-content-xl-center">
                <img class="img-fluid" *ngIf="c.value.url" [src]="c.value.url" [alt]="c.value.name">
              </li>
          </ul>
      </div>
    </div>

  </div>

  <div *ngIf="isEdit">

    <div class="row">
      <div class="col-12 text-center">
        <img *ngIf="this.form.value.url" [src]="this.form.value.url" class="img-fluid" [alt]="this.form.value.name">
        <img *ngIf="!this.form.value.url" [src]="mediaPath + this.form.value.name" class="img-fluid" [alt]="this.form.value.name">
      </div>
      <div class="col-12 text-center my-4">
        <button class="btn btn-primary" (click)="fileInput1.click()" type="button"><i class="fa fa-exchange"></i> Replace</button>
        <input type="file" accept="images/*" #fileInput1 hidden (change)="uploadImage($event)">
        <button (click)="makeHdr()" class="btn btn-success" type="button">Make HDR photo</button>
      </div>
      <div class="col-12">
        <h5 class="text-center">Edit Panorama Coordinates</h5>
      </div>
      <div class="col-12 text-center">
        <form class="row g-3" [formGroup]="form">
          <div class="col-4">
            <div class="input-group mb-3">
              <span class="input-group-text" id="coord_x">x</span>
              <input type="number" class="form-control" formControlName="x" placeholder="x">
            </div>
          </div>
          <div class="col-4">
            <div class="input-group mb-3">
              <span class="input-group-text" id="coord_y">y</span>
              <input type="number" class="form-control" formControlName="y" placeholder="y">
            </div>
          </div>
          <div class="col-4">
            <div class="input-group mb-3">
              <span class="input-group-text" id="coord_y">z</span>
              <input type="number" class="form-control" formControlName="z" placeholder="z">
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="panorama.hdr_pano" class="col-12">
        <h3>HDR <button (click)="remove(panorama.hdr_pano.name)" class="btn btn-danger" type="button"><i class="fa fa-trash"></i></button></h3>
        <img class="img-fluid" [src]="mediaPath + panorama.hdr_pano.name" [alt]="panorama.hdr_pano.name">
      </div>
      <ng-container *ngIf="panorama.dark_pano || panorama.light_pano">
        <div class="col-12" *ngIf="panorama.dark_pano?.name">
          <h3>Dark</h3>
          <button class="btn btn-primary" type="button" (click)="fileInputDarkPano.click()"><i class="fa fa-exchange"></i> Replace</button>
          <button *ngIf="panorama.dark_pano.base64"
            class="btn btn-success"
            type="button"
            (click)="uploadNewPano('dark_pano')"><i class="fa fa-upload"></i> {{panorama.dark_pano.isLoading ? 'Loading...' : 'Upload'}}</button>
          <input hidden type="file" accept="images/*" multiple #fileInputDarkPano (change)="uploadPano($event, 'dark_pano')">
          <img class="img-fluid" [src]="panorama.dark_pano.base64 ? panorama.dark_pano.base64 : mediaPath + panorama.dark_pano.name" [alt]="panorama.dark_pano.name">
        </div>
        <div class="col-12" *ngIf="panorama.light_pano?.name">
          <h3>Light</h3>
          <button class="btn btn-primary" type="button" (click)="fileInputLightPano.click()"><i class="fa fa-exchange"></i> Replace</button>
          <button *ngIf="panorama.light_pano.base64"
            class="btn btn-success"
            type="button"
            (click)="uploadNewPano('light_pano')"><i class="fa fa-upload"></i> {{panorama.light_pano.isLoading ? 'Loading...' : 'Upload'}}</button>
          <input hidden type="file" accept="images/*" multiple #fileInputLightPano (change)="uploadPano($event, 'light_pano')">
          <img class="img-fluid" [src]="panorama.light_pano.base64 ? panorama.light_pano.base64 : mediaPath + panorama.light_pano?.name" [alt]="panorama.light_pano?.name + '?_t='">
        </div>
      </ng-container>

  </div>

  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close(false)">Close</button>
  <button type="button" class="btn btn-primary" (click)="submit()">Save changes</button>
</div>
