%gallery-image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: rgba(white, 0);
  padding: 1em;
  transition: all 0.2s ease;
  font-weight: 600;
  max-width: calc(100%);
  line-height: 1.25;
  text-align: center;
  box-sizing: border-box;

  &:before,
  &:after {
    content: '';
    position: absolute;
    background: rgba(black, 0.2);
    width: 100%;
    height: 100%;
    padding: 1em;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    z-index: -1;
  }

  &:before,
  &:after {
    right: 100%;
    bottom: 100%;
  }

  &:after {
    left: 100%;
    top: 100%;
  }
}

%gallery-image-caption-visible {
  color: rgba(white, 1);
  text-shadow: 0 0 1px rgba(black, 0.2);
  transition: all 0.2s ease 0.3s;
  &:before,
  &:after {
    opacity: 1;
  }
  &:before {
    right: -1.5em;
    bottom: -1.5em;
  }
  &:after {
    left: -1.5em;
    top: -1.5em;
  }
}

.gallery-image {
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  margin: 0;
  padding: 0;
  /*
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 16px solid rgba(black, 0.1);
    transition: all 0.2s;
    will-change: border;
  }
  &:after {
    border-width: 0;
  }
  */

  &-shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.75);
    opacity: 0;
    transition: opacity .3s ease-in;
  }
  &:hover &-shadow{
    opacity: 1;
  }
  &-download {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  html:not(.touch) & {
    overflow: hidden;
    figcaption {
      @extend %gallery-image-caption;
    }
    &:hover {
      &:before {
        border-width: 16px;
      }
      &:after {
        border-width: 32px;
      }
      figcaption {
        @extend %gallery-image-caption-visible;
      }
    }
  }
  .touch & {
    figcaption {
      @extend %gallery-image-caption;
      @extend %gallery-image-caption-visible;
      top: auto;
      bottom: 2em;
    }
  }
}
