#virtualTour {
  max-width: 100%;
  max-height: 100%;
}

.navbar .btn{
  font-size: 18px;
}




.vt-map {
  min-width: 300px;
  background-color: #fff;
  overflow: hidden;
  // height: 300px;
  // padding-right: 26px;
  // padding-bottom: 26px;

  &-wrapper {
    position: relative;
    &-floorplan {
      max-width: 300px;
    }
  }
  &-ponits-wrapper {
    position: absolute;
    top: 0;
    border: 1px dotted transparent;
    &:hover {
      border: 1px dotted dimgray;
    }
  }
  &-point {
    position: absolute;
    background-color: #fff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    &-order {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &.active,
    &:hover {
      border: 2px solid #1abc9c;
    }
  }
}
.pointer {
  background: radial-gradient(
    at 0 0,
    rgba(24, 90, 189, 0.38),
    #ffffff00,
    #ffffff00
  );
  transform-origin: 0 0;
  padding: 25px;
  position: relative;
  top: 11px;
  left: 12px;
}

.panorama-player {
  height: calc(100vh - 112px);
  position: relative;
}
.boxes {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main-scene-wrapper {
  position: relative;
  height: 100%;
  font-size: 0;
  margin: 0 auto;
}

#take-tour-screenshot {
  position: absolute;
  top: 33px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9F1F15;
  border-radius: 50%;
  cursor: pointer;
}

#fullscreen {
  position: absolute;
  top: 33px;
  right: 50px;
}

.edit-nav-points-form {
  font-size: 1rem;
  position: absolute;
  top: 33px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
}

.sidebar {
  box-sizing: border-box;
  min-width: 280px;
  width: 400px;
  position: relative;
  height: 100%;
  border-right: 4px solid #4e4e4e;
  background-color: #fff;
  left: 0 !important;

  &-accordion {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &.stick-right {
    .close-gallery {
      left: -48px;
    }
  }
}

.resize-handle {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(50%, -50%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #9f1f15;
  background: #fff;
  font-size: 0;
  &-left {
    right: 0;
    transform: translate(50%, -50%);
  }
  &-right {
    left: 0;
    transform: translate(-50%, -50%);
  }
}

.ng-resizable-handle.ng-resizable-e {
  right: 0;
}
.ng-resizable-handle:hover {
  background-color: rgba(24, 90, 189, 0.38);
}
.stick-right {
  order: 1;
  border-right: none;
  border-left: 4px solid #4e4e4e;
}

.content {
  height: 100%;
  position: relative;
  flex-grow: 1;
}

.vr-tour-wrapper {
  flex: 1;
}

gallery {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.gallery-wrapper {
  .close-gallery {
    position: absolute;
    transition: 0.3s ease-out;
    right: 10px;
    top: 10px;
    color: rgba(255, 255, 255, 0.5);
    z-index: 2;
    cursor: pointer;
    width: 38px;
    &.stick-to-left {
      right: initial;
      left: 10px;
    }
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

agm-map,
#street-view {
  height: 300px;
}

.modal-body {
  position: relative;
  agm-map,
  #street-view,
  .map-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
}

.item-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 3em auto 0;
  border-radius: 4px;
  width: 100%;
  max-width: 500px;
  padding: 20px 25px;
  text-align: center;
}

.masonry-grid {
  font-size: 0;
  column-count: 3;
}

.masonry-grid-item {
  // min-width: 50px;
  // width: 150px;
}

.btn-black {
  font-size: 18px;
  background: #363233;
}

.btn-change-view {
  span {
    padding-right: 10px;
  }
  .angle {
    transition: 0.3s ease-out;
  }
  .angle-flip {
    transform: rotate(180deg);
  }
}

.navbar {
  padding: 25px 35px;
  border-bottom: 3px solid #fff;
}

.gallery-bar {
  position: absolute;
  top: 21px;
  right: 25px;
  width: 174px;
  height: calc(100% - 42px);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  &-content {
    background: #fff;
  }
  &-title {
    padding: 21px 0 12px 0;
    text-align: center;
    font-size: 20px;
    background-color: #231f20;
    color: #fff;
    border-radius: 10px 10px 0 0;
  }
  &-image {
    cursor: pointer;
    &:hover &__shadow {
      opacity: 1;
    }
    &__figure {
      position: relative;
    }
    &__shadow {
      transition: .3s ease-in;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      display: flex;
    }
    &__view {
      margin: auto;
    }
  }
}