<ng-container *ngIf="data$ | async as data">
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a [routerLink]="['/projects']" class="nav-link px-2 text-secondary">Projects</a></li>
        </ul>

        <form [formGroup]="form" class="col-12 col-lg-auto d-flex">
          <div class="mb-3 mb-lg-0 me-lg-3">
            <input *ngIf="form.value.editMode"
              (change)="rotationYChange()"
              type="number"
              class="form-control form-control-dark"
              formControlName="rotationY"
              step="0.1"
              placeholder="number">
          </div>

          <div class="text-end" *ngIf="form.value.editMode">
            <button type="button" class="btn btn-outline-light me-2" (click)="rotationYChange()">Edit</button>
            <button type="button" class="btn btn-outline-light me-2" (click)="saveY(data.project_id)">Save</button>
          </div>

          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="editMode" formControlName="editMode" (change)="editModeSwitch()">
            <label class="custom-control-label" for="editMode">Edit mode</label>
          </div>
        </form>

      </div>
    </div>
  </header>

  <div class="main-scene-wrapper">
    <canvas #virtualTour id="virtualTour" [propertyspacesVirtualTour]="data" (init)="vrInit()"></canvas>
  </div>
</ng-container>
