<div *ngIf="data$ | async as data">
  <ng-template #addFloorplanBtn>
    <button
      *ngIf="isEdit"
      type="button"
      class="btn btn-warning ml-3"
      (click)="openFloorplanEditor(data)"
    >
      Add floorplan
    </button>
  </ng-template>

  <nav *ngIf="!isFullscreenActive"
    class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark flex-md-nowrap shadow"
  >
    <a class="navbar-brand" href="javascript: alert('Logo')">
      <img src="assets/img/logo.svg" alt="Lidarama" class="logo" />
    </a>
    <button
      (click)="isCollapsed = !isCollapsed"
      class="navbar-toggler border-0 p-0"
      [class.opened]="!isCollapsed"
      type="button"
      aria-controls="navbarSupportedContent"
      [attr.aria-expanded]="isCollapsed"
      aria-label="Toggle navigation"
    >
      <svg width="40" height="40" viewBox="0 0 100 100">
        <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
        <path class="line line2" d="M 20,50 H 80" />
        <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
      </svg>
    </button>

    <div class="collapse navbar-collapse">

      <div class="d-flex flex-wrap ml-auto">

        <ng-template #tipContent>
          <div
            class="btn-group btn-group-lg btn-group-toggle"
            ngbRadioGroup
            name="radioBasic"
            [(ngModel)]="sidebarSide"
          >
            <label
              ngbButtonLabel
              [class.btn-light]="sidebarSide !== 'l'"
              [class.btn-danger]="sidebarSide === 'l'"
            >
              <input ngbButton type="radio" value="l" />
              <img
                src="assets/img/icons/sidebar-{{
                  sidebarSide === 'l' ? 'left' : 'right'
                }}.svg"
                alt="sidebar-left"
              />
              Left
            </label>
            <label
              ngbButtonLabel
              [class.btn-light]="sidebarSide !== 'r'"
              [class.btn-danger]="sidebarSide === 'r'"
            >
              <input ngbButton type="radio" value="r" /> Right
              <img
                src="assets/img/icons/sidebar-{{
                  sidebarSide !== 'l' ? 'left' : 'right'
                }}.svg"
                alt="sidebar-left"
              />
            </label>
          </div>
        </ng-template>

        <div>
          <a class="btn btn-link" href="javascript:;">
            <img src="assets/img/icons/youtube.svg" alt="YouTube" />
          </a>

          <a class="btn btn-link" href="javascript:;">
            <img src="assets/img/icons/instagram.svg" alt="Instagram" />
          </a>

          <a class="btn btn-link" href="javascript:;">
            <img src="assets/img/icons/facebook.svg" alt="Facebook" />
          </a>
        </div>
        <ng-template #loginBtn>
          <button
          type="button"
          class="btn btn-lg btn-dark rounded-pill btn-black text-uppercase border-1 border-white ml-3 px-5"
        >
          <span>Log in</span>
        </button>
        </ng-template>

        <ng-container *ngIf="isEdit; else loginBtn">
          <button type="button" class="btn btn-lg btn-dark rounded-pill btn-black text-uppercase border-1 border-white ml-3 px-5">
            <span>Log out</span>
          </button>
          <button type="button" class="btn btn-danger rounded-pill text-uppercase border-1 border-white ml-3 px-5">
            <span>Publish</span>
          </button>
        </ng-container>

        <!-- <button *ngIf="isEdit; else loginBtn"
            #tooltipView="ngbTooltip"
            type="button"
            class="btn btn-lg btn-dark rounded-pill btn-change-view btn-black ml-3"
            [ngbTooltip]="tipContent"
            tooltipClass="tooltop-p-0"
            triggers="click"
            [autoClose]="'outside'"
          >
            <span>Change view</span>
            <img
              src="assets/img/icons/angle.svg"
              class="angle"
              [class.angle-flip]="tooltipView.isOpen()"
              alt="angle"
            />
        </button> -->



        <!-- <ng-container *ngTemplateOutlet="addFloorplanBtn"></ng-container> -->
      </div>

    </div>
  </nav>

  <ng-template #modalWrapper let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body fullscreen-map" *ngIf="modalContent">
      <ng-container *ngTemplateOutlet="modalContent"></ng-container>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close('Save click')"
      >
        Close
      </button>
    </div>
  </ng-template>

  <ng-template #floorplanTpl>
    <div
      class="vt-map"
      *ngIf="
        data.additional_data && data.additional_data.floors;
        else addFloorplanBtn
      "
    >
      <ul
        ngbNav
        (navChange)="navFloor($event, data.panoFloors, data.panos)"
        #nav="ngbNav"
        [activeId]="activeFloor"
        class="nav-tabs mb-5"
      >
        <li
          *ngFor="let f of data.additional_data.floors; index as i"
          [ngbNavItem]="f.floor"
        >
          <a ngbNavLink>{{ f.floor }}</a>
          <ng-template ngbNavContent>
            <div class="d-flex justify-content-center">
              <div
                #bound
                class="vt-map-wrapper"
                [style.transform]="'rotate(' + -f.nav_dots_rotation + 'deg)'"
              >
                <img
                  class="vt-map-wrapper-floorplan"
                  #floorplanImage
                  [src]="
                    data.projectFolder +
                    f['floorplan_f' + f.floor + '.svg'] +
                    '?_t=' +
                    data._t
                  "
                  [style.transform]="'rotate(' + f.nav_dots_rotation + 'deg)'"
                />
                <div class="vt-map-ponits-wrapper" [ngStyle]="scaleDots(f)">
                  <ng-container
                    *ngFor="let p of data.panoFloorsCoord[i]; index as n"
                  >
                    <div
                      class="vt-map-point"
                      (click)="activePoint === p.index ? false : navTo(p.index)"
                      [class.active]="activePoint === p.index"
                      [ngStyle]="getStyleForDot(f, p)"
                    >
                      <div class="vt-map-point-order">{{ p.order }}</div>
                      <div
                        *ngIf="activePoint === p.index"
                        class="pointer"
                        [style.transform]="'rotate(' + rotationAngle + 'rad)'"
                      ></div>
                    </div>

                    <ng-template #activePointTpl>
                      <div
                        [className]="'vt-map-point active'"
                        [ngStyle]="getStyleForDot(f, p)"
                      >
                        <div class="vt-map-point-order">{{ p.order }}</div>
                        <div
                          class="pointer"
                          [style.transform]="'rotate(' + rotationAngle + 'rad)'"
                        ></div>
                        <!-- (lon + currentDot.rotation_angle) -->
                      </div>
                    </ng-template>
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div class="mb-5" [ngbNavOutlet]="nav"></div>
    </div>
  </ng-template>

  <ng-template #mapTplAgm>
    <agm-map class="google-map"
      [latitude]="+data.project.latitude"
      [longitude]="+data.project.longitude"
      [zoom]="17"
    >
      <agm-marker
        [latitude]="+data.project.latitude"
        [longitude]="+data.project.longitude"
      ></agm-marker>
    </agm-map>
  </ng-template>

  <ng-template #mapTpl>
    <ng-container *ngIf="data.additional_data.map; else mapTplAgm">
      <div class="embed-responsive embed-responsive-21by9 map-wrapper">
        <iframe
          class="embed-responsive-item"
          [src]="data.additional_data.map | safe: 'resourceUrl'"
        ></iframe>
      </div>
    </ng-container>
  </ng-template>

  <ng-template #streetViewTplNative>
    <div class="google-map"
      propertyspacesGoogleStreetView
      [coords]="{ lat: +data.project.latitude, lng: +data.project.longitude }"
      id="street-view"
    ></div>
  </ng-template>

  <ng-template #streetViewTpl>
    <ng-container
      *ngIf="data.additional_data.streetView; else streetViewTplNative"
    >
      <div class="embed-responsive embed-responsive-21by9 map-wrapper">
        <iframe
          class="embed-responsive-item"
          [src]="data.additional_data.streetView | safe: 'resourceUrl'"
        ></iframe>
      </div>
    </ng-container>
  </ng-template>

  <ng-template #galleryTpl>
    <div
      *ngIf="gallery$ | async as images"
      class="masonry-grid"
      [style.column-count]="sidebar.clientWidth > 400 ? 3 : 2"
    >
      <div
        *ngFor="let img of images | gallery; index as i"
        class="masonry-grid-item"
        (click)="openImage(i)"
      >
        <figure class="gallery-image m-0">
          <img
            class="img-fluid gallery-img"
            [src]="img.data.src"
            [alt]="img.data.thumb"
          />
          <figcaption>{{ img.data.name }}</figcaption>
        </figure>
      </div>
    </div>

    <!-- <ngx-masonry
      style="min-height: 100px"
      [options]="masonryOptions"
      [ordered]="true"
      *ngIf="gallery$ | async as images"
    >
      <div
        ngxMasonryItem
        *ngFor="let img of images | gallery; index as i"
        (click)="openImage(i)"
        class="masonry-item"
        [prepend]="false"
      >
        <figure class="gallery-image m-0">
          <img
            class="img-fluid gallery-img"
            [src]="img.data.src"
            [alt]="img.data.thumb"
          />
          <figcaption>{{ img.data.name }}</figcaption>
        </figure>
      </div>
    </ngx-masonry> -->
  </ng-template>

  <ng-template #galleryEditorTpl>
    <ng-container *ngIf="gallery$ | async as orderedImages">
      <propertyspaces-gallery-editor
        [isEditable]="isEdit"
        [items]="orderedImages"
        (nameChange)="imageNameChanged($event, data.project_id)"
        (sortChange)="sortChanged($event, data.project_id)"
        (moveToTrash)="deleteGalleryImage($event, data.project_id)"
      ></propertyspaces-gallery-editor>
    </ng-container>
  </ng-template>

  <ng-template #contactTpl>
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
    dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
    tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
    wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
    vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
    synth nesciunt you probably haven't heard of them accusamus labore
    sustainable VHS.
  </ng-template>

  <ng-template #editTpl>
    <div class="btn-group btn-group-toggle d-flex flex-column edit-menu" ngbRadioGroup name="editingSection" [(ngModel)]="activeEditProperty">
      <label ngbButtonLabel (click)="checkForReset(editProperties.allPoints)" class="btn rounded-0 mt-1">
        <input ngbButton type="radio" [value]="editProperties.allPoints"> EDIT ALL NAV POINTS
      </label>
      <label ngbButtonLabel (click)="checkForReset(editProperties.activePoint)" class="btn rounded-0 mt-1">
        <input ngbButton type="radio" [value]="editProperties.activePoint"> EDIT ACTIVE NAV POINT
      </label>
      <label ngbButtonLabel (click)="checkForReset(editProperties.floorplan)" class="btn rounded-0 mt-1 d-none d-lg-inline-block">
        <input ngbButton type="radio" [value]="editProperties.floorplan"> FLOOR PLAN OPTIONS
      </label>
      <label ngbButtonLabel (click)="checkForReset(editProperties.createGallery)" class="btn rounded-0 mt-1 d-none d-lg-inline-block">
        <input ngbButton type="radio" [value]="editProperties.createGallery"> CREATE PHOTO GALLERY
      </label>
      <label ngbButtonLabel (click)="checkForReset(editProperties.editGallery)" class="btn rounded-0 mt-1 d-none d-lg-inline-block">
        <input ngbButton type="radio" [value]="editProperties.editGallery"> EDIT PHOTO GALLERY
      </label>
      <label ngbButtonLabel (click)="checkForReset(editProperties.editLocation)" class="btn rounded-0 mt-1">
        <input ngbButton type="radio" [value]="editProperties.editLocation"> EDIT MAP & STREET VIEW
      </label>
      <label ngbButtonLabel (click)="checkForReset(editProperties.editContact)" class="btn rounded-0 mt-1">
        <input ngbButton type="radio" [value]="editProperties.editContact"> EDIT CONTACT INFO
      </label>
      <label ngbButtonLabel (click)="checkForReset(editProperties.editPano)" class="btn rounded-0 mt-1 d-none d-lg-inline-block">
        <input ngbButton type="radio" [value]="editProperties.editPano"> EDIT PANORAMA
      </label>
      <label ngbButtonLabel (click)="checkForReset(editProperties.changeMenu)" class="btn rounded-0 mt-1 d-none d-lg-inline-block">
        <input ngbButton type="radio" [value]="editProperties.changeMenu"> CHANGE MENU VIEW
      </label>
      <label ngbButtonLabel (click)="checkForReset(editProperties.description)" class="btn rounded-0 mt-1 d-none d-lg-inline-block">
        <input ngbButton type="radio" [value]="editProperties.description"> ADD DESCRIPTION
      </label>
    </div>
  </ng-template>

  <main class="panorama-player d-block d-lg-flex">
    <!-- [rzHandles]="sidebarSide === 'r' ? 'w' : 'e'" -->
    <div class="boxes navbar-expand-lg d-block d-lg-flex flex-lg-row">
      <div
        class="sidebar collapse navbar-collapse"
        [ngbCollapse]="isCollapsed"
        #sidebar
        [class.stick-right]="sidebarSide === 'r'"
        mwlResizable
        [style]="styleDeSidbar"
        (resizing)="onResizeEnd($event); resizeCanvas()"
        (resizeEnd)="onResizeEnd($event); updateMasonty()"
      >

        <ngb-accordion
          class="sidebar-accordion flex-lg-fill"
          #acc="ngbAccordion"
        >
          <ngb-panel [cardClass]="'sidebar-card ' + panelActiveClass(acc.activeIds, 'panel-floorplan')" id="panel-floorplan">
            <ng-template ngbPanelHeader>
              <div
                class="d-flex justify-content-between align-items-center w-100"
              >
                <button ngbPanelToggle class="btn flex-fill text-left p-0">
                  <svg-icon src="assets/img/icons/floorplan.svg" class="sidebar-header-icon-stroke mr-3"></svg-icon>
                  <span class="text-uppercase">Floor Plan</span>
                </button>
                <button
                  class="btn"
                  (click)="
                    openSectionModal(modalWrapper, floorplanTpl, 'Floor Plan')
                  "
                >
                <svg-icon src="assets/img/icons/expand.svg" class="sidebar-header-icon-fill sidebar-header-icon-stroke"></svg-icon>
                </button>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <ng-container *ngTemplateOutlet="floorplanTpl"></ng-container>
            </ng-template>
          </ngb-panel>

          <ngb-panel
          [cardClass]="'sidebar-card ' + panelActiveClass(acc.activeIds, 'panel-map')"
            id="panel-map"
            *ngIf="data.additional_data.mapEnabled"
          >
            <ng-template ngbPanelHeader>
              <div
                class="d-flex justify-content-between align-items-center w-100"
              >
                <button ngbPanelToggle class="btn flex-fill text-left p-0">
                  <svg-icon src="assets/img/icons/map-marker.svg" class="sidebar-header-icon-stroke sidebar-header-icon-fill mr-3"></svg-icon>
                  <span class="text-uppercase">Map</span>
                </button>
                <button
                  class="btn"
                  (click)="
                    openSectionModal(modalWrapper, mapTpl, 'Map')
                  "
                >
                  <svg-icon src="assets/img/icons/expand.svg" class="sidebar-header-icon-fill sidebar-header-icon-stroke"></svg-icon>
                </button>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <ng-container *ngTemplateOutlet="mapTpl"></ng-container>
            </ng-template>
          </ngb-panel>

          <ngb-panel
          [cardClass]="'sidebar-card ' + panelActiveClass(acc.activeIds, 'panel-sv')"
            id="panel-sv"
            *ngIf="data.additional_data.streetViewEnabled"
          >
            <ng-template ngbPanelHeader>
              <div
                class="d-flex justify-content-between align-items-center w-100"
              >
                <button ngbPanelToggle class="btn flex-fill text-left p-0">
                  <svg-icon src="assets/img/icons/map-marker.svg" class="sidebar-header-icon-stroke sidebar-header-icon-fill mr-3"></svg-icon>
                  <span class="text-uppercase">Street view</span>
                </button>
                <button
                  class="btn"
                  (click)="
                    openSectionModal(modalWrapper, streetViewTpl, 'Street View')
                  "
                >
                  <svg-icon src="assets/img/icons/expand.svg" class="sidebar-header-icon-fill sidebar-header-icon-stroke"></svg-icon>
                </button>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <ng-container *ngTemplateOutlet="streetViewTpl"></ng-container>
            </ng-template>
          </ngb-panel>

          <ngb-panel [cardClass]="'sidebar-card ' + panelActiveClass(acc.activeIds, 'panel-gallery')"
          id="panel-gallery">
            <ng-template ngbPanelHeader>
              <div
                class="d-flex justify-content-between align-items-center w-100"
              >
                <button ngbPanelToggle class="btn flex-fill text-left p-0">
                  <svg-icon src="assets/img/icons/picture.svg" class="sidebar-header-icon-stroke mr-3"></svg-icon>
                  <span class="text-uppercase">Photo Gallery</span>
                </button>
                <button
                  *ngIf="gallery$ | async as galleryPhotos"
                  class="btn"
                  (click)="
                    openSectionModal(
                      modalWrapper,
                      galleryEditorTpl,
                      'Gallery Editor'
                    )
                  "
                >
                  <svg-icon src="assets/img/icons/expand.svg" class="sidebar-header-icon-fill sidebar-header-icon-stroke"></svg-icon>
                </button>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <ng-container *ngTemplateOutlet="galleryTpl"></ng-container>
            </ng-template>
          </ngb-panel>

          <ngb-panel [cardClass]="'sidebar-card ' + panelActiveClass(acc.activeIds, 'panel-contact')"
          id="panel-contact">
            <ng-template ngbPanelHeader>
              <div
                class="d-flex justify-content-between align-items-center w-100"
              >
                <button ngbPanelToggle class="btn flex-fill text-left p-0">
                  <svg-icon src="assets/img/icons/contact.svg" class="sidebar-header-icon-stroke mr-3"></svg-icon>
                  <span class="text-uppercase">Contact</span>
                </button>
                <button
                  class="btn"
                  (click)="
                    openSectionModal(modalWrapper, contactTpl, 'Contact')
                  "
                >
                  <svg-icon src="assets/img/icons/expand.svg" class="sidebar-header-icon-fill sidebar-header-icon-stroke"></svg-icon>
                </button>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <ng-container *ngTemplateOutlet="contactTpl"></ng-container>
            </ng-template>
          </ngb-panel>

          <ngb-panel *ngIf="isEdit" [cardClass]="'sidebar-card ' + panelActiveClass(acc.activeIds, 'panel-edit')"
          id="panel-edit">
            <ng-template ngbPanelHeader>
              <div
                class="d-flex justify-content-between align-items-center w-100"
              >
                <button ngbPanelToggle class="btn flex-fill text-left p-0">
                  <svg-icon src="assets/img/icons/edit.svg" class="sidebar-header-icon-stroke mr-3"></svg-icon>
                  <span class="text-uppercase">Edit</span>
                </button>
                <button
                  class="btn"
                  (click)="
                    openSectionModal(modalWrapper, editTpl, 'Edit')
                  "
                >
                  <svg-icon src="assets/img/icons/cog.svg" class="sidebar-header-icon-stroke sidebar-header-icon-fill"></svg-icon>
                </button>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <ng-container *ngTemplateOutlet="editTpl"></ng-container>
            </ng-template>
          </ngb-panel>

        </ngb-accordion>

        <div
          mwlResizeHandle
          [resizeEdges]="{
            right: sidebarSide !== 'r',
            left: sidebarSide === 'r'
          }"
          class="resize-handle d-none d-lg-flex align-items-center justify-content-center"
          [class.resize-handle-left]="sidebarSide !== 'r'"
          [class.resize-handle-right]="sidebarSide === 'r'"
        >
          <div><img src="assets/img/icons/resize.svg" alt="Resize" /></div>
        </div>
      </div>
      <div class="content">
        <div class="gallery-wrapper" *ngIf="gallery$ | async as galleryItems">
          <div
            class="close-gallery"
            *ngIf="isGalleryOpened"
            (click)="closeGallery()"
          >
            <span class="h1">&times;</span>
          </div>
          <gallery
            id="project-gallery"
            [class.d-none]="!isGalleryOpened"
            [items]="galleryItems | gallery"
            [itemTemplate]="itemTemplate"
            [thumb]="false"
          ></gallery>
          <ng-template
            #itemTemplate
            let-index="index"
            let-type="type"
            let-data="data"
            let-currIndex="currIndex"
          >
          <div *ngIf="type === 'image' && index === currIndex"
          [@slideAnimation]
          class="item-description-block">
            <span class="gallery-item-name mb-2">{{ data?.name }}</span>
            <button class="btn btn-link">
              <span class="mr-1">Download</span> <img src="assets/img/icons/download.svg" alt="Download" />
            </button>
          </div>

          </ng-template>
        </div>

        <div
          class="main-scene-wrapper"
          #sceneWrapper
          [style.width]="canvasAspect(sceneWrapper)"
        >

          <button *ngIf="!activeEditProperty && isFullscreenAvailable" (click)="toggleFullscreen()" type="button" class="btn" id="fullscreen">
            <img src="assets/img/icons/expand.svg" alt="Fullscreen">
          </button>

          <button type="button"
          *ngIf="editProperties.createGallery === activeEditProperty"
          class="btn btn-danger"
          id="take-tour-screenshot" (click)="takeScreenshot()"><img src="assets/img/icons/camera.svg" alt="Take a screeshot"></button>

          <div class="gallery-bar d-flex flex-column" *ngIf="editProperties.createGallery === activeEditProperty">
            <div class="gallery-bar-title">Thumbnails</div>
            <div class="gallery-bar-content flex-fill">
              <ng-scrollbar *ngIf="gallery$ | async as galleryItems" class="scrollbar-danger content-padding">
                <div *ngFor="let img of galleryItems | gallery; index as i" class="gallery-bar-image mt-1" (click)="openImage(i)">
                  <figure class="gallery-bar-image__figure m-0">
                    <img
                      class="img-fluid"
                      [src]="img.data.src"
                      [alt]="img.data.thumb"
                    />
                    <div class="gallery-bar-image__shadow">
                      <img class="gallery-bar-image__view" src="assets/img/icons/eye.svg" alt="Eye">
                    </div>
                  </figure>
                </div>
              </ng-scrollbar>
            </div>

          </div>

          <div class="gallery-create-zoom" *ngIf="editProperties.createGallery === activeEditProperty">
            <propertyspaces-slider [customClass]="'white-slider'" [showValue]="false" (slide)="zoomChange($event)" [step]="1" [min]="30" [max]="120">
              <ng-template propertyspacesSliderMinus>
                <img src="assets/img/icons/minus-white.svg" alt="-">
              </ng-template>
              <ng-template propertyspacesSliderPlus>
                <img src="assets/img/icons/plus-white.svg" alt="+">
              </ng-template>
            </propertyspaces-slider>
          </div>


          <div class="card p-2 py-lg-3 px-lg-5 edit-nav-points-form" *ngIf="editProperties.allPoints === activeEditProperty || editProperties.activePoint === activeEditProperty">
            <form [formGroup]="vrTourSettingsForm">

              <div class="form-group">
                <label>Nav point rotation</label>

                <propertyspaces-slider *ngIf="editProperties.allPoints === activeEditProperty" (slide)="rotationYChange()" formControlName="rotationY" [step]="0.1" [min]="0" [max]="6.3"></propertyspaces-slider>
                <propertyspaces-slider *ngIf="editProperties.activePoint === activeEditProperty" (slide)="panoCameraStartAngleChange()" formControlName="panoCameraStartAngle" [step]="0.1" [min]="0" [max]="6.3"></propertyspaces-slider>


              </div>

              <div class="form-group">
                <label>Zoom</label>
                <propertyspaces-slider *ngIf="editProperties.allPoints === activeEditProperty" (slide)="zoomChange()" formControlName="zoom" [step]="1" [min]="30" [max]="120"></propertyspaces-slider>
                <propertyspaces-slider *ngIf="editProperties.activePoint === activeEditProperty" (slide)="panoZoomChange()" formControlName="panoZoom" [step]="1" [min]="30" [max]="120"></propertyspaces-slider>
              </div>

              <div class="text-center">
                <button
                  type="button"
                  (click)="saveSettings(data.project_id)"
                  class="btn btn-dark rounded-pill px-5"
                >
                  Save
                </button>
              </div>

            </form>
          </div>

          <ng-scrollbar *ngIf="modalEditing" class="modal-content canvas-modal scrollbar-danger m-1 m-md-4">
            <div class="modal-header align-items-center">
              <h5 class="modal-title text-uppercase h4 text-danger">{{ activeEditTitle }}</h5>
              <button type="button" (click)="closeModal()" class="close" data-bs-dismiss="modal" aria-label="Close">
                <div class="rounded-circle close-inner"><img src="assets/img/icons/cross.svg" alt="Close"></div>
              </button>
            </div>
            <div class="modal-body" [ngSwitch]="activeEditProperty">

              <ng-container *ngSwitchCase="editProperties.editGallery">
                <ng-container *ngIf="gallery$ | async as orderedImages">
                  <propertyspaces-gallery-editor
                    [isEditable]="isEdit"
                    [items]="orderedImages"
                    (nameChange)="imageNameChanged($event, data.project_id)"
                    (sortChange)="sortChanged($event, data.project_id)"
                    (moveToTrash)="deleteGalleryImage($event, data.project_id)"
                  ></propertyspaces-gallery-editor>
                </ng-container>
              </ng-container>

              <ng-container *ngSwitchCase="editProperties.editContact">
                <div class="d-flex flex-column align-items-between">
                  <ngb-accordion class="contact-accordion" #contactAccordion="ngbAccordion" activeIds="ngb-panel-0">
                    <ngb-panel>
                      <ng-template ngbPanelHeader  let-opened="opened">
                        <button ngbPanelToggle class="contact-accordion-title btn w-100 d-flex align-items-center justify-content-between">
                          <span><img src="assets/img/icons/accessability.svg" alt="accessability">  Your Profile</span>
                          <img src="assets/img/icons/caret.svg" class="caret" [class.caret-flipped]="opened" [alt]="opened ? 'close' : 'open'">
                        </button>
                      </ng-template>
                      <ng-template ngbPanelContent>

                        <label class="input">
                          <input class="input__field" type="text" placeholder=" " />
                          <span class="input__label">First Name<sup>*</sup> </span>
                        </label>

                        <label class="input">
                          <input class="input__field" type="text" placeholder=" " />
                          <span class="input__label">Last Name<sup>*</sup> </span>
                        </label>

                        <label class="input">
                          <input class="input__field" type="email" placeholder=" " />
                          <span class="input__label">Email<sup>*</sup> </span>
                        </label>

                        <label class="input">
                          <input class="input__field" type="tel" placeholder=" " />
                          <span class="input__label">Phone<sup>*</sup> </span>
                        </label>

                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="isForBranded">
                          <label class="custom-control-label" for="isForBranded">Display this info in all your branded walkthroughs</label>
                        </div>

                      </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                      <ng-template ngbPanelHeader  let-opened="opened">
                        <button ngbPanelToggle class="contact-accordion-title btn w-100 d-flex align-items-center justify-content-between">
                          <span><img src="assets/img/icons/bank.svg" alt="Profile">  Your Profile</span>
                          <img src="assets/img/icons/caret.svg" class="caret" [class.caret-flipped]="opened" [alt]="opened ? 'close' : 'open'">
                        </button>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        <p class="text-center">Add your company or organization details (optional)</p>

                        <label class="input">
                          <input class="input__field" type="text" placeholder=" " />
                          <span class="input__label">Company name<sup>*</sup> </span>
                        </label>

                        <label class="input">
                          <input class="input__field" type="text" placeholder=" " />
                          <span class="input__label">Company Address<sup>*</sup> </span>
                        </label>

                        <label class="input">
                          <input class="input__field" type="tel" placeholder=" " />
                          <span class="input__label">Company phone<sup>*</sup> </span>
                        </label>

                        <label class="input">
                          <input class="input__field" type="email" placeholder=" " />
                          <span class="input__label">Company email<sup>*</sup> </span>
                        </label>

                        <label class="input">
                          <input class="input__field" type="tel" placeholder=" " />
                          <span class="input__label">Fax<sup>*</sup> </span>
                        </label>

                        <div class="d-flex justify-content-between mt-3">
                          <label class="d-flex align-items-between justify-content-center" for="uploadLogoOrganization">
                            <input type="text" id="uploadLogoOrganization" class="d-none">

                            <button type="button" style="width: 55px; height: 55px" class="btn btn-secondary rounded-circle mr-2">
                              <img src="assets/img/icons/camera.svg" alt="Upload photo">
                            </button>
                            <div class="d-flex align-items-center">
                              <img src="assets/img/icons/paperclip.svg" alt="upload">
                              <span class="text-danger">Upload logo organization</span>
                            </div>
                          </label>

                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="isForBranded">
                            <label class="custom-control-label" for="isForBranded">Display this info in all your branded walkthroughs</label>
                          </div>
                        </div>


                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>
                </div>

              </ng-container>

              <ng-container *ngSwitchCase="editProperties.editLocation">
                <form [formGroup]="mapForm">

                  <div class="text-center">
                    <h5>Property Address</h5>
                    <p>Please type in the address and verify that it is correct on the map and the street view</p>
                  </div>


                  <label class="input mb-5">
                    <input class="input__field input__field_gray"
                    formControlName="address"
                    propertyspacesGoogleAutocomplete
                    (placeChanged)="onAutocomplete($event)"
                    type="text" placeholder=" " />
                    <span class="input__label">Type property address</span>
                  </label>

                  <ng-template #editMapTpl>
                    <agm-map class="google-map"
                      [latitude]="mapForm.value.latitude"
                      [longitude]="mapForm.value.longitude"
                      [zoom]="17"
                    >
                      <agm-marker
                        [latitude]="mapForm.value.latitude"
                        [longitude]="mapForm.value.longitude"
                      ></agm-marker>
                    </agm-map>
                  </ng-template>

                  <ng-container *ngIf="mapForm.value.map && mapForm.get('map').valid; else editMapTpl">
                    <div class="embed-responsive embed-responsive-16by9 map-wrapper">
                      <iframe
                        class="embed-responsive-item"
                        [src]="mapForm.value.map | safe: 'resourceUrl'"
                      ></iframe>
                    </div>
                  </ng-container>

                  <div class="my-4"></div>

                  <ng-template #editStreetViewTpl>
                    <div class="google-map"
                      *ngIf="isStreetViewVisible"
                      propertyspacesGoogleStreetView
                      [coords]="{ lat: mapForm.value.latitude, lng: mapForm.value.longitude }"
                    ></div>
                  </ng-template>

                  <ng-container
                    *ngIf="
                    mapForm.value.streetView && mapForm.get('streetView').valid;
                      else editStreetViewTpl
                    "
                  >
                    <div class="embed-responsive embed-responsive-16by9 map-wrapper">
                      <iframe
                        class="embed-responsive-item"
                        [src]="mapForm.value.streetView | safe: 'resourceUrl'"
                      ></iframe>
                    </div>
                  </ng-container>

                  <h3 class="mt-5 text-center">Insert Your Own Custom Map or Street View</h3>
                  <p class="text-center">
                    Use the embed code fields below to insert your own map or street view.
                  </p>

                  <label class="input mb-4">
                    <textarea
                      (paste)="filterPaste($event)"
                      formControlName="map"
                      class="input__field input__field_gray"
                      id="mapEmbedCode"
                      rows="3"
                      placeholder=" "
                    ></textarea>
                    <span class="input__label">Google Maps Embeded Code</span>
                  </label>

                  <div
                    *ngIf="mapForm.get('map').invalid"
                    class="alert alert-danger"
                    role="alert"
                  >
                    Invalid url
                  </div>

                  <label class="input">
                    <textarea
                      (paste)="filterPaste($event)"
                      formControlName="streetView"
                      class="input__field input__field_gray"
                      id="streetViewEmbedCode"
                      rows="3"
                      placeholder=" "
                    ></textarea>
                    <span class="input__label">Google Street View Embeded Code</span>
                  </label>

                  <div
                    *ngIf="mapForm.get('streetView').invalid"
                    class="alert alert-danger"
                    role="alert"
                  >
                    Invalid url
                  </div>

                </form>

              </ng-container>
            </div>
            <div class="modal-footer justify-content-center border-top-0" *ngIf="isSaveButton">
              <button type="button" class="btn btn-danger rounded-pill px-5" (click)="saveModal(data.project_id)">Save</button>
            </div>
          </ng-scrollbar>

          <canvas
            #virtualTour
            id="virtualTour"
            [propertyspacesVirtualTour]="data"
            (init)="vrInit(data)"
            (navigationChange)="changeActive($event, data.panos)"
            (change)="viewChange($event)"
          ></canvas>
        </div>
      </div>
    </div>
  </main>
</div>
