<div class="panorama-player d-flex flex-column" *ngIf="data$ | async as data">
  <header class="p-3 bg-dark text-white">
    <div [formGroup]="form" class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        >
          <li *ngIf="isEdit">
            <a [routerLink]="['/projects']" class="nav-link px-2 text-secondary"
              >Projects</a
            >
          </li>
          <li>
            <button
              class="btn btn-success"
              type="button"
              (click)="takeScreenshot()"
            >
              Take screenshot
            </button>
          </li>
          <li>
            <select
              class="custom-select"
              formControlName="aspectRatio"
              name="aspectRatio"
              (change)="updateCanvasSize()"
            >
              <option *ngFor="let aspect of aspects" [value]="aspect.value">
                {{ aspect.name }}
              </option>
            </select>
          </li>
        </ul>

        <form class="col-12 col-lg-auto d-flex" *ngIf="isEdit">
          <ng-container *ngIf="form.value.editMode">
            <div class="mb-3 mb-lg-0 me-lg-3">
              <input
                (change)="zoomChange()"
                type="number"
                class="form-control form-control-dark"
                formControlName="zoom"
                [value]="form.value.zoom"
                step="1"
                min="30"
                max="120"
                placeholder="number"
                style="min-width: 100px"
              />
            </div>

            <div class="range-slider">
              <input
                class="range-slider__range"
                (input)="zoomChange()"
                (change)="zoomChange()"
                type="range"
                formControlName="zoom"
                step="0"
                min="30"
                max="120"
              />
              <span class="range-slider__value">{{ form.value.zoom }}</span>
            </div>

            <div class="mb-3 mb-lg-0 me-lg-3">
              <input
                (change)="rotationYChange()"
                type="number"
                class="form-control form-control-dark"
                formControlName="rotationY"
                step="0.1"
                min="0"
                max="6.3"
                placeholder="number"
                style="min-width: 100px"
              />
            </div>

            <div class="range-slider">
              <input
                class="range-slider__range"
                (input)="rotationYChange()"
                type="range"
                formControlName="rotationY"
                step="0.1"
                min="0"
                max="6.3"
              />
              <span class="range-slider__value">{{
                form.value.rotationY
              }}</span>
            </div>

            <div class="d-flex" *ngIf="form.value.editMode">
              <button
                type="button"
                class="btn btn-outline-light me-2"
                (click)="rotationYChange()"
              >
                Edit
              </button>
              <button
                type="button"
                class="btn btn-outline-light me-2"
                (click)="saveY(data.project_id)"
              >
                Save
              </button>
            </div>
          </ng-container>

          <div class="custom-control custom-switch" style="min-width: 115px">
            <input
              type="checkbox"
              class="custom-control-input"
              id="editMode"
              formControlName="editMode"
              (change)="editModeSwitch()"
            />
            <label class="custom-control-label" for="editMode">Edit mode</label>
          </div>
          <div>
            <button
              type="button"
              class="btn btn-warning"
              (click)="openFloorplanEditor(data)"
            >
              Add floorplan
            </button>
          </div>
        </form>
      </div>
    </div>
  </header>
  <main class="vr-tour-wrapper">
    <!-- [ngStyle]="{width: data.floorplan.xSide + 'px', height: data.floorplan.zSide * 30 + 'px'}" -->
    <div
      class="vt-map"
      *ngIf="data.additional_data && data.additional_data['floorplan.svg']"
    >
      <div #bound class="vt-map-wrapper">
        <img
          #floorplanImage
          [src]="data.floorplanPath + '?_t=' + data._t"
          style="max-height: 300px"
        />
        <div
          class="vt-map-ponits-wrapper"
          [ngStyle]="scaleDots(data.additional_data)"
        >
          <ng-container *ngFor="let p of data.floorplanMap; index as i">
            <div
              class="vt-map-point"
              (click)="navTo(i)"
              [class.active]="activePoint === i"
              [ngStyle]="getStyleForDot(data.additional_data, p)"
            >
              {{ i + 1 }}
            </div>

            <ng-container *ngIf="activePoint === i">
              <div
                [className]="'vt-map-point active'"
                [ngStyle]="getStyleForDot(data.additional_data, p)"
              >
                <div
                  class="pointer"
                  [style.transform]="'rotate(' + rotationAngle + 'rad)'"
                ></div>
                <!-- (lon + currentDot.rotation_angle) -->
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <!-- <div class="vt-map-point" *ngFor="let p of data.data; index as i"
      (click)="navTo(i)"
      [class.active]="activePoint === i"
      [style.top]="(floorplanImage.offsetHeight / 2) + (289 / 100)*p.panoramas.z + 'px'"
      [style.left]="(floorplanImage.offsetWidth / 2) + (289 / 100)*p.panoramas.x + 'px'">{{ p.panoramas.x }} {{ floorplanImage.offsetWidth }}</div> -->
    </div>
    <div
      class="main-scene-wrapper"
      #sceneWrapper
      [style.width]="
        form.value.aspectRatio
          ? sceneWrapper.offsetHeight / form.value.aspectRatio + 'px'
          : '100%'
      "
    >
      <canvas
        #virtualTour
        id="virtualTour"
        [propertyspacesVirtualTour]="data"
        (init)="vrInit()"
        (navigationChange)="changeActive($event)"
        (change)="viewChange($event)"
      ></canvas>
    </div>
  </main>
</div>
