#mainScene {
  max-width: 100%;
  max-height: 100%;
}

// Base Colors
$shade-10: #2c3e50 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: #1abc9c !default;

// Reset
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  font-family: sans-serif;
  padding: 60px 20px;

  @media (min-width: 600px) {
    padding: 60px;
  }
}

// You may be interested in editing these values to shrink the slider element
.range-slider {
  // margin: 60px 0 0 0%;
}

// Range Slider
$range-width: 100% !default;

$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal !default;
$range-handle-size: 20px !default;

$range-track-color: $shade-1 !default;
$range-track-height: 10px !default;

$range-label-color: $shade-10 !default;
$range-label-width: 60px !default;

.range-slider {
  width: $range-width;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (#{$range-label-width + 13px}));
  height: $range-track-height;
  border-radius: 5px;
  background: $range-track-color;
  outline: none;
  padding: 0;
  margin: 0;

  // Range Handle
  &::-webkit-slider-thumb {
    appearance: none;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background 0.15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-webkit-slider-thumb {
    background: $range-handle-color-hover;
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background 0.15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-moz-range-thumb {
    background: $range-handle-color-hover;
  }

  // Focus state
  &:focus {
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 3px $shade-0, 0 0 0 6px $teal;
    }
  }
}

// Range Label
.range-slider__value {
  display: inline-block;
  position: relative;
  width: $range-label-width;
  color: $shade-0;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: $range-label-color;
  padding: 5px 10px;
  margin-left: 8px;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid $range-label-color;
    border-bottom: 7px solid transparent;
    content: '';
  }
}

// Firefox Overrides
::-moz-range-track {
  background: $range-track-color;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.vt-map {
  position: fixed;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  // height: 300px;
  // padding-right: 26px;
  // padding-bottom: 26px;
  &-wrapper {
    position: relative;
  }
  &-ponits-wrapper {
    position: absolute;
    top: 0;
    border: 1px dotted transparent;
    &:hover {
      border: 1px dotted dimgray;
    }
  }
  &-point {
    position: absolute;
    background-color: #fff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    &.active,
    &:hover {
      border: 2px solid #1abc9c;
    }
  }
}
.pointer {
  background: radial-gradient(
    at 0 0,
    rgba(24, 90, 189, 0.38),
    #ffffff00,
    #ffffff00
  );
  transform-origin: 0 0;
  padding: 25px;
  position: relative;
  top: 11px;
  left: 12px;
}
