<form [formGroup]="form" (ngSubmit)="resetPassword()">
  <a routerLink="..">Login</a>
  <div class="alert alert-danger" *ngIf="isFormInvalid">
    <div>

      <div class="error" *ngIf="form.get('password').invalid && passwordIsInvalid">Password must contain at least 8
        characters with at least 1 letter, 1 number, and 1 special character.</div>
      <div class="error" *ngIf="form.get('passwordConfirmation').invalid && passwordConfirmationIsInvalid">Passwords
        doesn't match.</div>
    </div>
  </div>

  <label class="input">
    <input formControlName="password" type="password" class="input__field" maxlength="16" placeholder=" " />
    <span class="input__label">Password<sup>*</sup> </span>
  </label>

  <label class="input">
    <input formControlName="passwordConfirmation" type="password" class="input__field" maxlength="16" placeholder=" " />
    <span class="input__label">Repeat Password<sup>*</sup> </span>
  </label>

  <button [disabled]="form.invalid" class="w-100 btn btn-lg btn-primary" type="submit">Reset password</button>
</form>
