<ng-container *ngIf="project$ | async as project">
  <ng-container *ngIf="panoramas$ | async as panoramas">
    <!-- NAV MENU BEGIN -->
    <nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-lg">
      <div class="container">
        <a
          class="navbar-brand"
          href="javascript: void 0;"
          title="Propertyspaces"
          ><img src="assets/img/logo-white.svg" class="img-fluid"
        /></a>

        <button
          (click)="isMenuCollapsed = !isMenuCollapsed"
          class="navbar-toggler"
        >
          <span class="sr-only">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto text-uppercase">
            <li class="nav-item">
              <a class="nav-link" routerLink="/projects">My Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:;">Log out</a>
            </li>
            <li class="nav-item"></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- NAV MENU END -->

    <!-- PAGE TITLE BEGIN -->
    <section
      class="page-cover d-flex justify-content-center align-items-center"
      [style.min-height]="'400px'"
      [style.background]="
        'url(' +
        host +
        project.path +
        (panoramas.length ? panoramas[0].name : '') +
        ') center / cover'
      "
    >
      <div class="page-cover-title">
        <h2 class="text-center">
          <span>{{ project.name }}</span
          ><i
            class="fa fa-edit"
            *ngIf="!isEditName"
            (click)="editName(project.name)"
          ></i>
        </h2>
        <div class="input-group mb-3" *ngIf="isEditName">
          <span class="input-group-text" (click)="saveName(project.project_id)"
            >x</span
          >
          <input class="form-control" [(ngModel)]="projectName" />
        </div>
      </div>
    </section>
    <!-- PAGE TITLE END -->

    <!-- VISIT VR TOUR BEGIN -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center mb-3">
            <i class="fa fa-link mr-3"></i> Visit Your Walkthrough
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="list-group">
            <a
              [routerLink]="['/projects/vr-tour-embed', project.project_id]"
              class="list-group-item list-group-item-action"
            >
              <i class="fa fa-link mr-3"></i> Unbranded
            </a>
            <a href="#" class="list-group-item list-group-item-action"
              ><i class="fa fa-link mr-3"></i> Branded</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- VISIT VR TOUR END -->

    <!-- EDIT VR TOUR BEGIN -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center mb-3">
            <i class="fa fa-gear"></i> Edit Your Walkthrough
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="list-group">
            <div class="list-group-item list-group-item-action d-flex">
              <a
                class="btn btn-link text-dark flex-fill text-left"
                [routerLink]="['/projects/vr-tour-model', project.project_id]"
                ><i class="mr-2 fa fa-gear"></i>Edit virtual tour</a
              >
              <button type="button" class="btn btn-info">Help Video</button>
            </div>

            <div class="list-group-item list-group-item-action d-flex">
              <a
                (click)="openGalleryModal(project.project_id)"
                href="javascript:;"
                class="btn btn-link text-dark flex-fill text-left"
                ><i class="mr-2 fa fa-image"></i>Photo Gallery</a
              >
              <button type="button" class="btn btn-info">Help Video</button>
            </div>

            <div class="list-group-item list-group-item-action d-flex">
              <a
                (click)="openMapModal(project, panoramas)"
                href="javascript:;"
                class="btn btn-link text-dark flex-fill text-left"
                ><i class="mr-2 fa fa-map"></i>Add Map & Street View</a
              >
              <button type="button" class="btn btn-info">Help Video</button>
            </div>

            <div class="list-group-item list-group-item-action d-flex">
              <a
                (click)="openContactModal(project.project_id)"
                href="javascript:;"
                class="btn btn-link text-dark flex-fill text-left"
                ><i class="mr-2 fa fa-phone"></i>Edit Contact Info</a
              >
              <button type="button" class="btn btn-info">Help Video</button>
            </div>

            <div class="list-group-item list-group-item-action d-flex">
              <a
                class="btn btn-link text-dark flex-fill text-left"
                (click)="openCreateForm(project)"
                ><i class="mr-2 fa fa-plus"></i>Add Navigation Points</a
              >
              <button type="button" class="btn btn-info">Help Video</button>
            </div>

            <div class="list-group-item list-group-item-action d-flex">
              <a class="btn btn-link text-dark flex-fill text-left"
                ><i class="mr-2 fa fa-file-o"></i>Change Template</a
              >
              <button type="button" class="btn btn-info">Help Video</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- EDIT VR TOUR END -->

    <!-- EDIT PANORAMAS BEGIN -->
    <div class="container my-5">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center mb-3">
            <i class="fa fa-gears"></i> Edit Panoramas
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="list-group">
            <li
              *ngFor="let panorama of panoramas"
              class="list-group-item list-group-item-action d-flex align-items-center"
            >
              <a
                href="javascript:;"
                (click)="openEditPanorama(panorama, project)"
                >{{ panorama.name }}</a
              >
              <div class="actions ml-auto">
                <i
                  (click)="openEditPanorama(panorama, project)"
                  class="fa fa-gear fa-2x mx-2"
                ></i>
                <i
                  (click)="deletePanoramas(panorama.name)"
                  class="fa fa-trash-o fa-2x"
                ></i>
              </div>
            </li>
          </div>
        </div>
      </div>
    </div>
    <!-- EDIT PANORAMAS END -->
  </ng-container>
</ng-container>
