<ng-container *ngIf="project$ | async as project">
  <!-- NAV MENU BEGIN -->
  <nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-lg" *ngIf="!isMobileApp">
    <div class="container">
      <a class="navbar-brand" routerLink="/projects" title="Propertyspaces"><img src="assets/img/logo.svg"
          title="Lidarama" class="img-fluid" /></a>

      <button (click)="isMenuCollapsed = !isMenuCollapsed" class="navbar-toggler">
        <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
      </button>
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto text-uppercase">
          <li class="nav-item">
            <a class="nav-link" routerLink="/projects">My Projects</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-danger rounded-pill px-4" (click)="logout()">Logout <img
                src="assets/img/icons/exit-icon.svg" alt="Logut"></button>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- NAV MENU END -->

  <!-- PAGE TITLE BEGIN -->
  <section class="page-cover d-flex justify-content-center align-items-center" [style.min-height]="'400px'"
    [style.background]="project.panoramas.length ? 'url(' + project.panoramas[0].url + ') center / cover' : ''">
    <div class="page-cover-title">
      <button class="btn btn-danger px-4 d-flex align-items-center justify-content-center text-center">
        <span>{{ project.name }}</span> <img style="width: 15px; height: 15px" src="assets/img/icons/pencil.svg"
          *ngIf="!isEditName" (click)="editName(project.name)">
      </button>
      <div class="input-group mb-3" *ngIf="isEditName">
        <button type="button" class="input-group-text" (click)="saveName(project)">x</button>
        <input class="form-control" [(ngModel)]="projectName" />
      </div>
    </div>
  </section>
  <!-- PAGE TITLE END -->

  <!-- VISIT VR TOUR BEGIN -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center mb-3">
          Visit Your Walkthrough
        </h3>
      </div>
    </div>
    <div class="d-flex justify-content-between links">
      <a class="card text-dark" [routerLink]="['/virtual-tour', project.id]" target="_blank"
        [queryParams]="{sidebarHidden: 'true'}">
        <div class="card-body">
          <img class="mr-2" src="assets/img/icons/link.svg" alt="Link"> <span>Simple</span>
        </div>
      </a>

      <a class="card text-dark" [routerLink]="['/virtual-tour', project.id]" target="_blank">
        <div class="card-body">
          <img class="mr-2" src="assets/img/icons/link.svg" alt="Link"> <span>Unbranded</span>
        </div>
      </a>

      <a class="card text-dark" target="_blank">
        <div class="card-body">
          <img class="mr-2" src="assets/img/icons/link.svg" alt="Link"> <span>Branded</span>
        </div>
      </a>
    </div>

    <div class="row d-none">
      <div class="col">
        <div class="list-group">
          <a [routerLink]="['/virtual-tour', project.id]" target="_blank" [queryParams]="{sidebarHidden: 'true'}"
            class="list-group-item list-group-item-action">
            <i class="fa fa-link mr-3"></i> Simple
          </a>
          <a [routerLink]="['/virtual-tour', project.id]" target="_blank"
            class="list-group-item list-group-item-action">
            <i class="fa fa-link mr-3"></i> Unbranded
          </a>
          <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-link mr-3"></i> Branded</a>
        </div>
      </div>
    </div>
  </div>
  <!-- VISIT VR TOUR END -->

  <!-- EDIT VR TOUR BEGIN -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center mb-3">
          Edit Your Walkthrough
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="list-group">

          <div class="list-group-item list-group-item-action d-flex">
            <button type="button" class="btn flex-fill" [class.btn-primary]="!project.active"
              [class.btn-dark]="!!project.active" (click)="changeStatus(project)">
              {{ project.active ? 'deactivate' : 'activate' }}
            </button>
          </div>

          <div *ngIf="project.build" class="list-group-item list-group-item-action d-flex">
            <a [href]="project.build.url" target="_blank" placement="top"
              ngbTooltip="Built at: {{ project.build.builtAt | date:'medium' }}"
              class="btn btn-link text-dark flex-fill text-left d-flex align-content-center align-items-center">
              <img class="mr-2" src="assets/img/icons/download-cloud.svg" alt="Download"> <span>Download project
                build</span>
            </a>
          </div>

          <div class="list-group-item list-group-item-action d-flex">
            <button type="button"
              class="btn btn-link text-dark flex-fill text-left d-flex align-content-center align-items-center"
              (click)="buildProject(project.id)">
              <img class="mr-2" src="assets/img/icons/puzzle.svg" alt="Build"> <span>Build Project</span>
            </button>
          </div>

          <div *ngIf="!isMobileApp" class="list-group-item list-group-item-action d-flex">
            <button type="button"
              class="btn btn-link text-dark flex-fill text-left d-flex align-content-center align-items-center"
              (click)="deleteProject(project.id)">
              <img class="mr-2" src="assets/img/icons/trash-black.svg" alt="Delete project"> <span>Delete project</span>
            </button>
          </div>

          <div class="list-group-item list-group-item-action d-flex">
            <ng-template #tooltipTip>
              <button type="button" (click)="openCreateForm(project)" class="btn btn-link text-dark flex-fill text-left"
                placement="top" ngbTooltip="In order to edit virtual-tour it should have at least one Nav Point">
                <i class="mr-2 fa fa-plus"></i> <span>Add Navigation Points</span>
              </button>
            </ng-template>
            <a *ngIf="project.panoramas?.length; else tooltipTip"
              class="btn btn-link text-dark flex-fill text-left d-flex align-content-center align-items-center"
              [routerLink]="['/projects/vr-tour-model', project.id]" target="_blank">
              <img class="mr-2" src="assets/img/icons/home.svg" alt="Edit"> <span>Edit virtual tour</span>
            </a>
            <button type="button" class="btn btn-danger">Help Video</button>
          </div>

          <!-- <div class="list-group-item list-group-item-action d-flex">
            <a (click)="openGalleryModal(galleryEditorTpl)" href="javascript:;"
              class="btn btn-link text-dark flex-fill text-left"><i class="mr-2 fa fa-image"></i>Photo Gallery</a>
            <button type="button" class="btn btn-danger">Help Video</button>
          </div> -->

          <div class="list-group-item list-group-item-action d-flex">
            <a (click)="openMapModal(project)" href="javascript:;" class="btn btn-link text-dark flex-fill text-left"><i
                class="mr-2 fa fa-map"></i>Add Map & Street
              View</a>
            <button type="button" class="btn btn-danger">Help Video</button>
          </div>

          <div class="list-group-item list-group-item-action d-flex">
            <a (click)="openContactModal(project.id)" href="javascript:;"
              class="btn btn-link text-dark flex-fill text-left"><i class="mr-2 fa fa-phone"></i>Edit Contact Info</a>
            <button type="button" class="btn btn-danger">Help Video</button>
          </div>

          <div *ngIf="!isMobileApp" class="list-group-item list-group-item-action d-flex">
            <a class="btn btn-link text-dark flex-fill text-left" (click)="openCreateForm(project)"><i
                class="mr-2 fa fa-plus"></i>Add Navigation Points</a>
            <button type="button" class="btn btn-danger">Help Video</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- EDIT VR TOUR END -->

  <ng-template #addPano>
    <div class="container py-5 text-center">
      <div class="row">
        <div class="col-12">
          <div class="alert alert-danger" role="alert">
            You don't have navigation points in your virtual tour. In order to
            start edit your virtual tour please add some Navigation Points
          </div>
          <a class="btn btn-primary" (click)="openCreateForm(project)"><i class="mr-2 fa fa-plus"></i>Add Navigation
            Points</a>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- EDIT PANORAMAS BEGIN -->
  <ng-container *ngIf="isAdmin">

    <div class="container py-5" *ngIf="project.panoramas?.length; else addPano">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center mb-3">
            <i class="fa fa-gears"></i> Edit Panoramas
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="list-group">
            <li *ngFor="let panorama of project.panoramas | orderBy: 'order'"
              class="list-group-item list-group-item-action d-flex align-items-center">
              <a href="javascript:;" (click)="openEditPanorama(project, panorama)">{{ panorama.order }}) {{
                panorama.name }}</a>
              <div class="actions ml-auto">
                <i *ngIf="!isMobileApp" (click)="openEditPanorama(project, panorama)" class="fa fa-gear fa-2x mx-2"></i>
                <i *ngIf="!isMobileApp" (click)="deletePanoramas(panorama)" class="fa fa-trash-o fa-2x"></i>
              </div>
            </li>
          </div>
        </div>
      </div>
    </div>

  </ng-container>

  <!-- EDIT PANORAMAS END -->
</ng-container>
