.page-cover {
  position: relative;
  margin-top: 1px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(2, 32, 50, 0.63);
    z-index: 1;
  }
  &-title {
    position: relative;
    z-index: 1;
    color: white;
  }
}

.actions .fa {
  cursor: pointer;
  transition: 0.3s;
  color: rgba(2, 32, 50, 0.63);
}

.actions .fa:hover {
  color: rgba(2, 32, 50, 1);
}

.page-cover-title .btn {
  background: rgba(159, 31, 21, 0.6);
  border: none;
  font-size: 25px;
  span {
    padding-right: 8px;
  }
}
