<div
  class="gallery-editor drag-drop-list"
  dndDropzone
  dndEffectAllowed="copyMove"
  (dndDrop)="onDrop($event, items)"
>
  <div
    class="gallery-editor__item drag-drop-item dndPlaceholder"
    dndPlaceholderRef
  ></div>
  <div
    *ngFor="let d of items; index as i"
    [dndDraggable]="d"
    [dndDisableIf]="!isEditable"
    [dndEffectAllowed]="'copyMove'"
    (dndStart)="onDragStart($event)"
    (dndCopied)="onDragged(d, items, 'copy')"
    (dndLinked)="onDragged(d, items, 'link')"
    (dndMoved)="onDragged(d, items, 'move')"
    (dndCanceled)="onDragged(d, items, 'none')"
    (dndEnd)="onDragEnd($event)"
    class="gallery-editor__item drag-drop-item"
  >
    <div class="gallery-editor__item_edit">
      <img class="img-fluid" [src]="d.url" />
      <div class="gallery-editor__item_position-block" *ngIf="isEditable">
        <img dndHandle class="gallery-editor__item_move" src="assets/img/icons/drag.svg" alt="Drag">
        <div class="d-flex align-items-center justify-content-between gallery-editor__item-actions">
          <div class="gallery-editor__item-rename d-flex">
            <span class="m-1" [class.d-none]="d.nameEditing" (click)="toggleEditMode(i, true)">
              {{ d.name }}
            </span>
            <textarea
              rows="1"
              class="textname rounded-pill m-1"
              [class.d-none]="!d.nameEditing"
              (blur)="saveTitle($event, d, i)"
              >{{ d.name }}</textarea>
            <img (click)="toggleEditMode(i, true)" src="assets/img/icons/pencil.svg" alt="Edit name">
          </div>
          <img class="gallery-editor__item-remove" (click)="removeItem(d, i)" src="assets/img/icons/trash-red.svg" alt="Delete">
        </div>
      </div>
    </div>
  </div>
</div>
