<div
  class="gallery-editor drag-drop-list"
  dndDropzone
  dndEffectAllowed="copyMove"
  (dndDrop)="onDrop($event, items)"
>
  <div
    class="gallery-editor__item drag-drop-item dndPlaceholder"
    dndPlaceholderRef
  ></div>
  <div
    *ngFor="let d of items; index as i"
    [dndDraggable]="d"
    [dndEffectAllowed]="'copyMove'"
    (dndStart)="onDragStart($event)"
    (dndCopied)="onDragged(d, items, 'copy')"
    (dndLinked)="onDragged(d, items, 'link')"
    (dndMoved)="onDragged(d, items, 'move')"
    (dndCanceled)="onDragged(d, items, 'none')"
    (dndEnd)="onDragEnd($event)"
    class="gallery-editor__item drag-drop-item"
  >
    <div class="gallery-editor__item_edit">
      <img class="img-fluid" [src]="d.url" />
      <div class="gallery-editor__item_position-block">
        <i class="fa fa-arrows gallery-editor__item_move" dndHandle></i>
        <button
          type="button"
          (click)="toggleEditMode(i, true)"
          class="btn btn-dark px-0 d-flex flex-column align-items-center justify-content-center gallery-editor__item_rename"
        >
          <i class="fa fa-lg fa-pencil"></i><span>Rename</span>
        </button>
        <button
          type="button"
          (click)="removeItem(d, i)"
          class="btn btn-dark px-0 d-flex flex-column align-items-center justify-content-center gallery-editor__item_delete"
        >
          <i class="fa fa-lg fa-trash"></i><span>Trash</span>
        </button>
        <label
          class="btn btn-dark p-0 text-center gallery-editor__item_checkbox"
        >
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              [id]="'item_checkbox_' + i"
            />
            <label class="custom-control-label" [for]="'item_checkbox_' + i"
              >Select as header image</label
            >
          </div>
        </label>
      </div>
    </div>
    <div class="edit-name">
      <span [class.d-none]="d.nameEditing" (click)="toggleEditMode(i, true)">{{
        d.name
      }}</span>
      <textarea
        rows="1"
        class="textname"
        [class.d-none]="!d.nameEditing"
        (blur)="saveTitle($event, d, i)"
        >{{ d.name }}</textarea
      >
    </div>
  </div>
</div>
