.modal-body {
  height: calc(100vh - 137px);
}
.floorplan {
  flex: 1;
  &__navigation {
    position: relative;
  }
  &__point-wrapper {
    position: absolute;
    top: 0;
    border: 1px dotted dimgray;
    // resize: both;
    // overflow: auto;
  }
  &__point {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    border: 2px solid rgb(126, 34, 34);
    background-color: #fff;
    text-align: center;
  }
}

.drag-handle {
  position: absolute;
  top: 0;
  right: 0;
}
