<div class="modal-header">
  <h5 class="modal-title">Floorplan editor</h5>
  <div class="d-flex">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>First</a>
        <ng-template ngbNavContent>

          <div class="floorplan align-items-center justify-content-center d-flex">
            <div #bound class="floorplan__navigation" *ngIf="data">
              <img #floorPlan [src]="data.floorplanPath+ '?_t='+data._t" [style.max-height]="form.value.floorplan_max_height + 'px'" class="img-fluid" alt="Floorplan">
              <!-- [customTransformations]="'rotate('+ form.value.nav_dots_rotation +'deg)'" -->
              <div class="floorplan__point-wrapper" #flw
                ngResizable
                ngDraggable
                [style.width]="form.value.nav_dots_width + 'px'"
                [style.height]="form.value.nav_dots_height + 'px'"

                [position]="{x: form.value.nav_dots_left, y: form.value.nav_dots_top}"
                (stopped)="dragEnd($event, floorPlan)"
                (rzStop)="resizeEnd($event, floorPlan)"
                [rzHandels]="'all'"
                [bounds]="bound"
                [inBounds]="false"
                [checkBoundsAfterInit]="false"
                >
                <div class="floorplan__point-holder" #dotsWrapper [ngStyle]="getStyleForDotsWrapper(flw)">
                  <div class="floorplan__point"
                    *ngFor="let p of data.floorplanMap; index as i"
                    [ngStyle]="getStyleForDot(p)"
                    >
                    {{i + 1}}
                  </div>
                </div>
        <!-- [style.top]="p.x  + '%'" [style.left]="p.z + '%'" -->

                <!-- <i #dragHandle class="fa fa-arrows drag-handle"></i> -->
              </div>

            </div>
          </div>

        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Second</a>
        <ng-template ngbNavContent>

          <div class="text-center">
            <h3>
              <!-- {{ form.value.nd_deg }}deg | {{ form.value.nd_delta }}rad -->
            </h3>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button class="btn btn-primary" type="button" (click)="rotateCub(-1)"><i class="fa fa-arrow-left"></i></button>
              <button class="btn btn-primary" type="button" (click)="rotateCub(1)"><i class="fa fa-arrow-right"></i></button>
            </div>

          </div>
          <div class="floorplan d-flex align-items-center justify-content-center">
            <div class="floorplan__navigation floorplan__navigation_new" *ngIf="data">
              <img #floorPlan1 [src]="data.floorplanPath+ '?_t='+data._t" [style.max-height]="form.value.floorplan_max_height + 'px'" class="img-fluid" alt="Floorplan">
              <div class="floorplan__point-wrapper floorplan__point-wrapper_new">
                <div class="floorplan__points"
                [style.width]="form.value.nd_width + 'px'"
                [style.height]="form.value.nd_height + 'px'"
                propertyspacesSubjx
                [initMove]="{dx: form.value.nd_move_dx, dy: form.value.nd_move_dy}"
                [initRotate]="{delta: form.value.nav_dots_rotation}"
                (move)="fpMove($event)"
                (dropEvent)="fpDrop($event, floorPlan1)"
                (resizeEvent)="fpResize($event, floorPlan1)"
                (rotate)="fpRotate($event)">
                  <div class="floorplan__point"
                    *ngFor="let p of data.floorplanMap; index as i"
                    [ngStyle]="getStyleForDot(p)"
                    >
                    {{i + 1}}
                  </div>
                </div>
              </div>

            </div>
          </div>

        </ng-template>
      </li>
    </ul>
    <button type="button" (click)="activeModal.close()" class="close" data-bs-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

</div>
<div class="modal-body d-flex flex-column">

  <form [formGroup]="form">
    <div class="form-row">
      <div class="col-auto">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile" (change)="uploadFloorplan($event)">
          <label class="custom-file-label" for="customFile">Upload floorplan</label>
        </div>
      </div>
      <div class="col-auto">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button (click)="rotate('r')" type="button" class="btn btn-secondary"><i class="fa fa-rotate-right"></i></button>
          <button (click)="rotate('l')" type="button" class="btn btn-secondary"><i class="fa fa-rotate-left"></i></button>
          <button (click)="mirror('h')" type="button" class="btn btn-secondary"><i class="fa fa-arrows-h" aria-hidden="true"></i></button>
          <button (click)="mirror('v')" type="button" class="btn btn-secondary"><i class="fa fa-arrows-v" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="col-auto">
        <div class="mb-3 mb-lg-0 me-lg-3">
          <div class="form-group">
            <label for="dots_size">Dots size</label>
            <input
              (change)="floorplanHeightChange()"
              type="number"
              class="form-control form-control-dark"
              formControlName="dots_size"
              [value]="form.value.dots_size"
              step="0.1"
              min="0.1"
              max="1"
              placeholder="number">

          </div>

        </div>

        <div class="range-slider">
          <input class="range-slider__range"
            (input)="floorplanHeightChange()"
            (change)="floorplanHeightChange()"
            type="range"
            formControlName="dots_size"
            step="0.1"
            min="0.1"
            max="1">
          <span class="range-slider__value">{{ form.value.dots_size }}</span>
        </div>
      </div>
      <div class="col-auto">
        <div class="mb-3 mb-lg-0 me-lg-3">
          <div class="form-group">
            <label for="floorplan_size">Floorplan size</label>
            <input
              (change)="floorplanHeightChange()"
              type="number"
              class="form-control form-control-dark"
              formControlName="floorplan_max_height"
              [value]="form.value.floorplan_max_height"
              step="10"
              min="300"
              max="950"
              placeholder="number">

          </div>

        </div>

        <div class="range-slider">
          <input class="range-slider__range"
            (input)="floorplanHeightChange()"
            (change)="floorplanHeightChange()"
            type="range"
            formControlName="floorplan_max_height"
            step="10"
            min="300"
            max="950">
          <span class="range-slider__value">{{ form.value.floorplan_max_height }}</span>
        </div>
      </div>
      <div class="col-auto">
        <div class="mb-3 mb-lg-0 me-lg-3">
          <div class="form-group">
            <label for="rotation">Rotation</label>
            <input
            (change)="rotationChange($event)"
            type="number"
            class="form-control form-control-dark"
            formControlName="nav_dots_rotation"
            [value]="form.value.nav_dots_rotation"
            step="1"
            min="-180"
            max="180"
            placeholder="number">
          </div>

        </div>

        <div class="range-slider">
          <input class="range-slider__range"
            (input)="rotationChange($event)"
            (change)="rotationChange($event)"
            type="range"
            formControlName="nav_dots_rotation"
            step="1"
            min="-180"
            max="180">
          <span class="range-slider__value">{{ form.value.nav_dots_rotation }}</span>
        </div>
      </div>
    </div>
  </form>

  <div [ngbNavOutlet]="nav"></div>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close(false)">Close</button>
  <button type="button" class="btn btn-primary" (click)="submit()">Save changes</button>
</div>
