.floorplan {
  height: 400px;
  width: 400px;
  min-width: 400px;
  min-height: 400px;
  &__navigation {
    position: relative;
  }
  &__point-wrapper {
    transform-origin: 0 0;
  }
  &__point {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    border: 2px solid rgb(126, 34, 34);
    background-color: #fff;
    text-align: center;
  }
}
