<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a [routerLink]="['projects']" class="nav-link px-2 text-secondary">Projects</a></li>
      </ul>

      <div class="col-12 col-lg-auto d-flex" *ngIf="rotationY$ | async as rotationY">
        <form class="mb-3 mb-lg-0 me-lg-3">
          <input type="number" class="form-control form-control-dark" [value]="rotationY.rotation_y" step="0.1" #input placeholder="number">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2" (click)="updateY(input.value)">Edit</button>
          <button type="button" class="btn btn-outline-light me-2" (click)="saveY(rotationY.project_id, input.value)">Save</button>
        </div>
      </div>

    </div>
  </div>
</header>

<router-outlet></router-outlet>
